body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header,
footer,
#categories {
  font-family: "Open Sans", sans-serif;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}
